body{
  background-color: #C0D6EA;
}


table {
    width: 90%;
    
}

th {
    height: 50px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left;

}

.form{
  padding: 70%: 
  width: 100%;
  padding: 85px;
  margin-left: 38%;
  margin-top: 8%;
  display: inline-block;
  border: none;
  border-radius: 20px;
  background: #E8E6E3;
}

.form input {
  display: inline-block;
  float: right;
  width: 100%

}

.alert {
  width: 50%;
}

li  {
  list-style: none;
}
.fb-login{
  background-color: #3B5998;
  color: white;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 14px;
  border-radius: 25px;
}



